*{
    margin: 0;
    padding: 0;
}

/* navbar start */
.navbackground {
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

ul{
    text-align: center;
}

ul li{
    list-style-type: none;
    display: inline;
    padding: 28px;
}

ul li a {
    color: white;
    text-decoration: none;
    /* add google foonts */
    font-family: 'Xanh Mono' , 'monospace';
}

a:hover{
    color: red;
}
/* navbar end */

/* header */
.headerbackground {
 
    padding-top: 40px;
    padding-bottom: 15px;
    border-bottom: 2px solid #2f2f2f;
}

h2{
    text-align: center;
    color: #2f2f2f;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
}

p{
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: #2f2f2f;
}
/* header end */

/* start about section */

h3{
    text-align: center;
    color: #2f2f2f;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    padding-top: 80px;
}
.headerabout{
    justify-content: center;
    padding-top: 40px;
    padding-left: 100px;
}

img{
    border: 2px solid #2f2f2f;
}

.bio{
    padding-left: 30px;
    font-size: 1.3em;
}

.pp{
    text-align: center;
    font-weight: 900;
    font-size: 14px;
    color: #2f2f2f;
}
/* end about section */

/* start skills section */
.right1{
    text-align: center;
    padding-left: right;
    font-size: 25px;
}

.headerabout1{
    justify-content: center;
    padding-top: 40px;
    padding-left: 350px;
}
/* end skills section */
/* img section star */

.headerabout2{
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 350px;
}

/* footer */
.footer{
    border-top: 2px solid #2f2f2f;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    background-color: black;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
}



